#cabecera{
    background-color:rgb(208, 228, 28);
}
#centro{
    background-color: rgb(1, 247, 255);
}
#cuadro_izquierda{
    background-color: rgb(114, 228, 38);
}
#cuadro_derecha{
    background-color: rgb(255, 255, 255);
}
#abajo{
    background-color: rgb(82, 17, 33);
}
/*
.container {
    max-width: 1920px;
    width: 70%;
}
<img src="./recursos/arriba.png" alt="ar" height="20">
*/










/* imagenes de botones */
#boton_arriba{
    background-image: url( './recursos/arriba.png' );
    background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#boton_izquierda{
    background-image: url( './recursos/izquierda.png' );
    background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#boton_abajo{
    background-image: url( './recursos/abajo.png' );
    background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}
#boton_derecha{
    background-image: url( './recursos/derecha.png' );
    background-size: 50px 50px;
    height: 50px;  
    width: 50px;
}

















/* ventana modal 1 */


.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ventana modal 2 */

.modalContainer2 {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer2 .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer2 .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer2 .close2:hover,
.modalContainer2 .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
